<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Settings" type="System.Configuration.NameValueSectionHandler" />
    <section name="Modules" type="System.Configuration.NameValueSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <Settings>
    <!--add key="FocusConnectionString" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=tab_13_3;Data Source=sql2;Application Name=PMExplorer" /-->
    <!--    <add key="FocusConnectionString" value="User ID=snickers;Password=Y78oYZdI0pxRiYX;Persist Security Info=True;Initial Catalog=tab_13_3;Data Source=SQL7;Packet Size=4096" /> -->
    <add key="FocusConnectionString" value="User ID=snickers;Password=Y78oYZdI0pxRiYX;Persist Security Info=True;Initial Catalog=mia;Data Source=SQL8.egar.egartech.com;Packet Size=4096" />
    <add key="OmsConnectionString" value="Persist Security Info=False;User ID=dev;Data Source=KIEV64;Packet Size=4096;initial catalog=sbrf_oms_test_2;Password=123" />
    <add key="FocusEtxConfigPath" value="D:\FocusETX\Data\ETX\focus_sbrf.rdf" />

    <add key="UserID" value="1078" />
    <add key="UserName" value="DShevyakov" />
    <add key="Password" value="@W3e4r5t" />

  </Settings>
  <Modules>

    <add key="Egar.Focus.Modules.TradesBlotter.PluggableModule" value = "InitilizeOnStartup" />
    <add key="Egar.Focus.Modules.DealModule.PluggableModule" value = "InitilizeOnStartup" />
    <add key="Egar.Focus.Modules.RealTimeBlotters.PluggableModule" value = "InitilizeOnStartup" />
    <add key="Egar.Focus.Modules.AssetFlow.PluggableModule" value = "InitilizeOnStartup" />
    <add key="Egar.Focus.Instance.Plugging.PluggableModule" value = "InitilizeOnStartup" />

    <!--
 not used:  <add key="Egar.Focus.Modules.DealInput.PluggableModule" value = "InitilizeOnStartup" />  
   <add key="Egar.Focus.Modules.DealModule.PluggableModule" value = "InitilizeOnStartup" />  

   <add key="Egar.Focus.Instance.Plugging.PluggableModule" value = "InitilizeOnStartup" />  
   <add key="Egar.Focus.Modules.AssetFlow.PluggableModule" value = "InitilizeOnStartup" />  
   <add key="Egar.Focus.Modules.RealTimeBlotters.PluggableModule" value = "InitilizeOnStartup" />  
   <add key="Egar.Focus.Modules.TradesBlotter.PluggableModule" value = "InitilizeOnStartup" />  
-->

  </Modules>
  <log4net>
    <!-- 
		Default layout pattern used in log4egar.Appender.FocusLogAppender is "[%TID] %d{HH:mm:ss.fff} %5p : %m%n".
	-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;%d{HH:mm:ss fff} %5p&gt; %m%n" />
      </layout>
    </appender>
    <appender name="Egar.PluggableModules.TMA.PluggableModule" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\TMA\\" />
      <param name="FileName" value="TMAgreements" />
    </appender>
    <appender name="Egar.License.Checker.LicenseChecker" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\Focus\\" />
      <param name="FileName" value="FocusLic" />
    </appender>
    <appender name="PositionKeeping" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\PositionKeeping\\" />
      <param name="FileName" value="PositionKeeping" />
    </appender>
    <appender name="Egar.Focus.Modules.InvestmentsContracts.PluggableModule" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\InvestmentsContracts\\" />
      <param name="FileName" value="InvestmentsContracts" />
    </appender>
    <!-- FCS-5256 -->
    <appender name="Egar.Focus.Modules.TradesBlotter.PluggableModule" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\TradesBlotter\\" />
      <param name="FileName" value="TradesBlotter" />
    </appender>
    <appender name="Egar.PluggableModules.RTDFModule.PluggableModule" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\RTDF\\"/>
      <param name="FileName" value="RTDFModule" />
      <param name="FileExt" value="txt" />
    </appender>
    <appender name="DealModule" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\DealModule\\" />
      <param name="FileName" value="DealModule" />
    </appender>
    <appender name="Egar.Focus.Modules.AssetFlow.PluggableModule" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\AccountBlotter\\" />
      <param name="FileName" value="AssetFlow" />
    </appender>
    <appender name="AccountBlotter" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\AccountBlotter\\" />
      <param name="FileName" value="AccountBlotter" />
    </appender>
    <appender name="RealTimeBlotters" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\RealTimeBlotters\\" />
      <param name="FileName" value="RealTimeBlotters" />
    </appender>
    <appender name="PositionPortfolioReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\PositionPortfolioReport\\" />
      <param name="FileName" value="PositionPortfolioReport" />
    </appender>
    <appender name="TradesMTMReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\TradesMTMReport\\" />
      <param name="FileName" value="TradesMTMReport" />
    </appender>
    <appender name="PositionPlReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\PositionPlReport\\" />
      <param name="FileName" value="PositionPlReport" />
    </appender>
    <appender name="PositionPlReport_fx" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\PositionPlReport_fx\\" />
      <param name="FileName" value="PositionPlReport_fx" />
    </appender>
    <appender name="RepoMTMReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\RepoMTMReport\\" />
      <param name="FileName" value="RepoMTMReport" />
    </appender>
    <appender name="CustomerPositionReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\CustomerPositionReport\\" />
      <param name="FileName" value="CustomerPositionReport" />
    </appender>
    <appender name="CustomerMTMReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\CustomerMTMReport\\" />
      <param name="FileName" value="CustomerMTMReport" />
    </appender>
    <appender name="MarginAccountReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\MarginAccountReport\\" />
      <param name="FileName" value="MarginAccountReport" />
    </appender>
    <appender name="LiquidityReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\LiquidityReport\\" />
      <param name="FileName" value="LiquidityReport" />
    </appender>
    <appender name="TransactionClient" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\DealModule\\" />
      <param name="FileName" value="TransactionClient" />
    </appender>
    <appender name="DealServiceAppender" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\DealService\\" />
      <param name="FileName" value="DealService" />
    </appender>

    <appender name="FocusDealEventsAppender" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\DealModule\\" />
      <param name="FileName" value="FocusDealEvents" />
    </appender>
    <appender name="FocusEventsBaseAppender" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\DealModule\\" />
      <param name="FileName" value="FocusEventsBase" />
    </appender>
    <appender name="FocusPresentationAppender" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\DealModule\\" />
      <param name="FileName" value="FocusPresentation" />
    </appender>
    <appender name="Egar.Focus.PNotes.PNQoutes.PluggableModule" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\PNQuotes\\" />
      <param name="FileName" value="PNQuotes" />
    </appender>
    <appender name="FundReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\FundingReport\\" />
      <param name="FileName" value="FundingReport" />
    </appender>
    <appender name="PrecalcStatus" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\PrecalcStatus\\" />
      <param name="FileName" value="PrecalcStatus" />
    </appender>
    <appender name="AssetFlowReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\AssetFlowReport\\" />
      <param name="FileName" value="AssetFlowReport" />
    </appender>
    <appender name="NewCustomerMTMReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\NewCustomerMTMReport\\" />
      <param name="FileName" value="NewCustomerMTMReport" />
    </appender>
    <appender name="MarginCallListReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\MarginCallListReport\\" />
      <param name="FileName" value="MarginCallListReport" />
    </appender>
    <appender name="DepositEventsReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\DepositEventsBlotter\\" />
      <param name="FileName" value="DepositEventsBlotter" />
    </appender>
    <appender name="RepoMTMNewReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\RepoMTMNewReport\\" />
      <param name="FileName" value="RepoMTMNewReport" />
    </appender>
    <appender name="CommissionsBlotter" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\CommissionsBlotter\\" />
      <param name="FileName" value="CommissionsBlotter" />
    </appender>
    <appender name="CustomerFundsReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\CustomerFunds\\" />
      <param name="FileName" value="CustomerFundsReport" />
    </appender>
    <appender name="PositionReportBank" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\PositionReportBank\\" />
      <param name="FileName" value="PositionReportBank" />
    </appender>
    <appender name="PositionReportClient" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\PositionReportClient\\" />
      <param name="FileName" value="PositionReportClient" />
    </appender>
    <appender name="DealModuleDX" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\DealModule\\" />
      <param name="FileName" value="DealModuleDX" />
    </appender>
    <appender name="SchemaServices" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\" />
      <param name="FileName" value="SchemaServices" />
    </appender>
    <appender name="TurnoversReport" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\TurnoversReport\\" />
      <param name="FileName" value="TurnoversReport" />
    </appender>
    <appender name="FocusInterface" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\" />
      <param name="FileName" value="FocusInterface" />
    </appender>
    <appender name="DealViewDx_Perf" type="log4egar.Appender.FocusLogAppender, log4egar">
      <param name="File" value="${FOCUSLOGSPATH}\\${USERNAME}\\" />
      <param name="FileName" value="DealViewDx_Perf" />
    </appender>

    <root>
      <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, NONE -->
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
    </root>
    <logger name="Egar.PluggableModules.TMA.PluggableModule">
      <level value="ALL" />
      <appender-ref ref="Egar.PluggableModules.TMA.PluggableModule" />
    </logger>
    <logger name="Egar.License.Checker.LicenseChecker">
      <level value="ALL" />
      <appender-ref ref="Egar.License.Checker.LicenseChecker" />
    </logger>
    <logger name="PositionKeeping">
      <level value="ALL"/>
      <appender-ref ref="PositionKeeping"/>
    </logger>
    <logger name="Egar.Focus.Modules.InvestmentsContracts.PluggableModule">
      <level value="ALL" />
      <appender-ref ref="Egar.Focus.Modules.InvestmentsContracts.PluggableModule" />
    </logger>
    <!-- FCS-5256 -->
    <logger name="Egar.Focus.Modules.TradesBlotter.PluggableModule">
      <level value="ALL" />
      <appender-ref ref="Egar.Focus.Modules.TradesBlotter.PluggableModule" />
    </logger>
    <logger name="Egar.PluggableModules.RTDFModule.PluggableModule">
      <level value="INFO" />
      <appender-ref ref="Egar.PluggableModules.RTDFModule.PluggableModule" />
    </logger>
    <logger name="Egar.Focus.Modules.DealModule">
      <level value="ALL" />
      <appender-ref ref="DealModule" />
    </logger>
    <logger name="Egar.Focus.PNotes.PNDealInput">
      <level value="ALL" />
      <appender-ref ref="DealModule" />
    </logger>
    <logger name="Egar.Focus.SpreadManager">
      <level value="ALL" />
      <appender-ref ref="DealModule" />
    </logger>
    <logger name="Egar.Focus.FieldsRepository">
      <level value="ALL" />
      <appender-ref ref="DealModule" />
    </logger>
    <logger name="Egar.Focus.Modules.AssetFlow.PluggableModule">
      <level value="ALL" />
      <appender-ref ref="Egar.Focus.Modules.AssetFlow.PluggableModule" />
    </logger>
    <logger name="AccountBlotter">
      <level value="ALL" />
      <appender-ref ref="AccountBlotter" />
    </logger>
    <logger name="RealTimeBlotters">
      <level value="ALL" />
      <appender-ref ref="RealTimeBlotters" />
    </logger>
    <logger name="PositionPortfolioReport">
      <level value="ALL" />
      <appender-ref ref="PositionPortfolioReport" />
    </logger>
    <logger name="TradesMTMReport">
      <level value="ALL" />
      <appender-ref ref="TradesMTMReport" />
    </logger>
    <logger name="PositionPlReport">
      <level value="ALL" />
      <appender-ref ref="PositionPlReport" />
    </logger>
    <logger name="PositionPlReport_fx">
      <level value="ALL" />
      <appender-ref ref="PositionPlReport_fx" />
    </logger>
    <logger name="RepoMTMReport">
      <level value="ALL" />
      <appender-ref ref="RepoMTMReport" />
    </logger>
    <logger name="CustomerPositionReport">
      <level value="ALL" />
      <appender-ref ref="CustomerPositionReport" />
    </logger>
    <logger name="CustomerMTMReport">
      <level value="ALL" />
      <appender-ref ref="CustomerMTMReport" />
    </logger>
    <logger name="MarginAccountReport">
      <level value="ALL" />
      <appender-ref ref="MarginAccountReport" />
    </logger>
    <logger name="LiquidityReport">
      <level value="ALL" />
      <appender-ref ref="LiquidityReport" />
    </logger>
    <logger name="Egar.Focus.Controls">
      <level value="ALL" />
      <appender-ref ref="Egar.Focus.Modules.TradesBlotter.PluggableModule" />
    </logger>
    <logger name="Egar.Focus.Modules.FiltersBuilder">
      <level value="ALL" />
      <appender-ref ref="Egar.Focus.Modules.TradesBlotter.PluggableModule" />
    </logger>
    <logger name="Egar.TransactionService.Client">
      <level value="ALL" />
      <appender-ref ref="TransactionClient" />
    </logger>
    <logger name="Egar.Focus.Framework">
      <level value="ALL" />
      <appender-ref ref="DealModule" />
    </logger>
    <logger name="Egar.Focus.Modules.DealModule.Integration" additivity="false">
      <level value="ALL" />
      <appender-ref ref="DealServiceAppender" />
    </logger>


    <logger name="Egar.Focus.Events.DealEvents" additivity="false">
      <level value="ALL" />
      <appender-ref ref="FocusDealEventsAppender" />
      <appender-ref ref="DealModule" />
    </logger>
    <logger name="Egar.Focus.Events.Base" additivity="false">
      <level value="ALL" />
      <appender-ref ref="FocusEventsBaseAppender" />
      <appender-ref ref="DealModule" />
    </logger>
    <logger name="Egar.Focus.Presentation" additivity="false">
      <level value="ALL" />
      <appender-ref ref="FocusPresentationAppender" />
      <appender-ref ref="DealModule" />
    </logger>

    <logger name="Egar.Focus.PNotes.PNQoutes.PluggableModule">
      <level value="ALL" />
      <appender-ref ref="Egar.Focus.PNotes.PNQoutes.PluggableModule" />
    </logger>
    <logger name="FundReport">
      <level value="ALL" />
      <appender-ref ref="FundReport" />
    </logger>
    <logger name="PrecalcStatus">
      <level value="ALL" />
      <appender-ref ref="PrecalcStatus" />
    </logger>
    <logger name="AssetFlowReport">
      <level value="ALL" />
      <appender-ref ref="AssetFlowReport" />
    </logger>
    <logger name="NewCustomerMTMReport">
      <level value="ALL" />
      <appender-ref ref="NewCustomerMTMReport" />
    </logger>
    <logger name="MarginCallListReport">
      <level value="ALL" />
      <appender-ref ref="MarginCallListReport" />
    </logger>
    <logger name="DepositEventsReport">
      <level value="ALL" />
      <appender-ref ref="DepositEventsReport" />
    </logger>
    <logger name="RepoMTMNewReport">
      <level value="ALL" />
      <appender-ref ref="RepoMTMNewReport" />
    </logger>
    <logger name="CommissionsBlotter">
      <level value="ALL" />
      <appender-ref ref="CommissionsBlotter" />
    </logger>
    <logger name="CustomerFundsReport">
      <level value="ALL" />
      <appender-ref ref="CustomerFundsReport" />
    </logger>
    <logger name="PositionReportBank">
      <level value="ALL" />
      <appender-ref ref="PositionReportBank" />
    </logger>
    <logger name="PositionReportClient">
      <level value="ALL" />
      <appender-ref ref="PositionReportClient" />
    </logger>
    <logger name="Egar.Focus.Modules.DealModuleDX">
      <level value="ALL" />
      <appender-ref ref="DealModuleDX" />
    </logger>
    <logger name="Egar.Focus.Schemas">
      <level value="ALL" />
      <appender-ref ref="SchemaServices" />
      <appender-ref ref="DealModuleDX" />
    </logger>
    <logger name="TurnoversReport">
      <level value="ALL" />
      <appender-ref ref="TurnoversReport" />
    </logger>
    <logger name="Egar.Focus.Interface">
      <level value="ALL" />
      <appender-ref ref="FocusInterface" />
    </logger>
    <logger name="DealViewDx_Perf">
      <level value="ALL" />
      <appender-ref ref="DealViewDx_Perf" />
      <!--appender-ref ref="DealModuleDX" /-->
    </logger>

    <renderer renderingClass="log4egar.ObjectRenderer.SqlCommandRenderer, log4egar" renderedClass="System.Data.SqlClient.SqlCommand, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </log4net>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="shared;modules\dealModule;modules\dealModuleDX;modules;modules\reports"/>
    </assemblyBinding>
    <NetFx40_LegacySecurityPolicy enabled="true|false"/>
  </runtime>
  <appSettings>
    <add key="Modules" value="DevExpress.ExpressApp.Objects.v8.1;DevExpress.ExpressApp.Win.v8.1;DevExpress.ExpressApp.Validation.v8.1;DevExpress.ExpressApp.Validation.Win.v8.1;Egar.Focus2.Objects" />
    <add key="XafDomainModules" value="DevExpress.Persistent.BaseImpl.v8.1;"/>
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IDealService" maxReceivedMessageSize="50100100" sendTimeout="00:30:00">
          <readerQuotas  maxArrayLength="5000000"/>
        </binding>
        <binding name="basicHttpBinding_IAssetflowService" maxReceivedMessageSize="50100100" sendTimeout="00:30:00">
          <readerQuotas  maxArrayLength="5000000"/>
        </binding>
      </basicHttpBinding>

      <!--<basicHttpBinding>
        <binding name="CustomBinding_IDealService" maxReceivedMessageSize="2650000" sendTimeout="00:30:00" />
      </basicHttpBinding>-->
    </bindings>
    <client>
      <endpoint address="http://localhost:6767/deal" binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding_IDealService" contract="IDealService"
	        behaviorConfiguration="CustomSessionEndpointBehavior"
          name="basicHttpBinding_IDealService">
        <!--<identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>-->
      </endpoint>
      <endpoint address="http://localhost:6767/assetflow" binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding_IAssetflowService" contract="IAssetflowService"
	        behaviorConfiguration="CustomSessionEndpointBehaviorAssetflow"
          name="basicHttpBinding_IAssetflowService" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <!--<behavior name="DealClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="65536000"/>
        </behavior>-->
        <behavior name="CustomSessionEndpointBehavior">
          <httpSessionID />
          <dataContractSerializer maxItemsInObjectGraph="65536000"/>
          <!--<httpSessionID SessionID="999999" />-->
        </behavior>
        <behavior name="CustomSessionEndpointBehaviorAssetflow">
          <httpSessionIDAssetflow />
          <dataContractSerializer maxItemsInObjectGraph="65536000"/>
          <!--<httpSessionID SessionID="999999" />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="httpSessionID" type="Egar.TransactionService.Client.ServiceModel.Dispatcher.HttpDealBehaviorExtensionElement, DealService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="httpSessionIDAssetflow" type="AssetflowService.ServiceModel.Dispatcher.HttpDealBehaviorExtensionElement, AssetflowService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>

</configuration>
